In [12]:
import os
import numpy as np

from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import random
from sklearn.preprocessing import StandardScaler

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
data=pd.read_excel("/content/drive/MyDrive/Data_file.xlsx",index_col=0)

In [26]:
data.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S.No.,College,Role,City type,Previous CTC,Previous job changes,Graduation marks,Exp (Months),CTC
1,Tier 1,Manager,Non-Metro,55523,3,66,19,71406.576531
2,Tier 2,Executive,Metro,57081,1,84,18,68005.870631
3,Tier 2,Executive,Metro,60347,2,52,28,76764.020277

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1340 entries, nan to 1338
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  1339 non-null   object
 1   Unnamed: 2  1339 non-null   object
 2   Unnamed: 3  1339 non-null   object
 3   Unnamed: 4  1339 non-null   object
 4   Unnamed: 5  1339 non-null   object
 5   Unnamed: 6  1339 non-null   object
 6   Unnamed: 7  1339 non-null   object
 7   Unnamed: 8  1339 non-null   object
dtypes: object(8)
memory usage: 94.2+ KB

In [23]:
data['Previous CTC'] = data['Previous CTC'].astype(float)

KeyError: ignored